@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  min-height: 100vh;
}

.font-vampiro-one {
  font-family: 'Vampiro One', cursive;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
